a {
    display: block;
}
.clients{
padding-bottom: 60px;    
padding-top: 60px;
    & h2{
    margin-bottom: 30px;
    }
}

.clients-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

@media screen and (max-width: 480px) {
    .clients .clients-link{
   width: calc((100% - 2 * 15px) / 2);
    
    }
}
.clients-link .link{
    display: flex;
    border-radius: 4px; 
    margin: 15px;
    border: 1px solid #AFB1B8;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    height: 90px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 210px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 226px;
    }
    @media screen and (min-width: 1200px) {
    width: 170px;
    }
    &:hover,
    &:focus{
    border: 1px solid $accent-color;
    color: $accent-color;
    border-radius: 4px; 
    }
}    

