// @media screen and (min-width: 768px) {
//     .mobile-menu {
//         display: none;
//     }
// }
.mobile-menu {
    display: block;
    margin: 0px;

    border:none;
    // background:none;
    margin-left: auto;
background-color: transparent;

@media screen and (min-width: 768px) {
display: none;
}
    

}
.mobile-menu .icon-cross{
    display: none;
}
.mobile-menu.is-open .icon-cross{
    display: block;
}
.mobile-menu.is-open .icon-menu{
    display: none;
}


    
    @media screen and (max-width: 767px) {
      .main-nav{
          display: flex;
        //   align-items: center;
      }
      .navigacion .item a {
          display: inline;
      }
      .navigacion .item:not(:last-child){
          margin-bottom: 40px;
      }
      .navigacion .studio {
          padding-bottom: 8px;
      }
      .contacts{
          margin-top: 60px;
      }
.contacts .item:not(:last-child){
    margin-bottom: 16px;
}
      .menu-container {
        display: none;
        text-align: center;
    // margin-left: auto;
    // margin-right: auto;
        position:absolute;
        left: 0;
        width: 100%;
        top: 100%;
        background-color: #fff;
        padding: 60px 100px;
        // height: 430px;
    
      &.is-open {
        display: block;
    }

    }

}