/*наши качества*/
.our-quality{
    padding-top: 60px;
    padding-bottom: 60px;
}
.visually-hidder{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.quality .quality-title{
    color: $secondary-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.quality .quality-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

@media screen and (min-width: 768px) {
   .our-quality .quality{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
    text-align: center;
    }
    .quality-item{
        width: 354px;
        margin: 15px;
        text-align: left;
    }
    .quality .quality-title{
        text-align: left;
    }
}  
@media screen and (min-width: 1200px) {
     .quality-item{
         width: 270px;
     }
}   
.quality-item:not(:last-child) {
   margin-bottom: 30px;
}
.quality-item .icon{
    height: 120px;
    border-radius: 4px;
    background: $bgc-additional;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
