.team img{
    display: block;
    max-width: 100%;
    height: auto;
}
.section-team{
    background-color: $bgc-additional;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.team .item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: $bgc-main;
    // width: 450px;

}
.team-worker{
    padding: 30px 122px 24px 122px;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .section-team .item{
        // width: 450px;
    }
    .team .item + .item{
        margin-top: 30px;
    }   
}

@media screen and (min-width: 768px) {

    .section-team .team{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .section-team .item {
        width: 354px;
        margin: 15px;
    }
    .team-worker{
        padding: 30px 74px 24px 74px;
        text-align: center;
    }
}
@media screen and (min-width: 1200px) {

    .section-team .team{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .section-team .item {
        width: 270px;
        margin: 15px;
    }
    .team-worker{
        padding: 30px 32px;
        text-align: center;
    }
}
.team .team-name{
    color: $secondary-color;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
margin-bottom: 10px;
}
.team .team-prof{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
margin-bottom: 16px;
}
/* задаем цвет иконок в секции наша команда и постоянные клиенты */
.team-worker .network .icon, .clients-link .icon{
    fill:currentColor;
} 
.network-link .link{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center; 
    color: #AFB1B8;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: $additional-color;
        background: $accent-color;
    }
}
.network{
    display: flex;
}
