$secondary-color: #212121;
$main-color: #757575;
$additional-color: #FFFFFF;
$accent-color: #2196F3;
$logo-color: #000000;
$contacts-color: rgba(255,255,255,0.6);
$bgc-main: #FFFFFF;
$bgc-secondary: #2F303A;
$bgc-additional: #F5F4FA;
/*переменные для шрифтов*/
$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;